<script src="../js/lib/jquery.blockUI.min.js"></script>
<script src="../js/lib/toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="../js/table.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<link rel="stylesheet" href="../css/lib/toastr.min.css">
<link rel="stylesheet" href="../css/table.css">
<h1>Tables</h1>
<button id="add-table-button" class="btn btn-primary"><i class="icofont-ui-add"></i> Add new table</button>
<div id="table-container" class="row">
</div>